In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")
df.head()

In [ ]:
fare = df['Fare']
age = df[['Pclass','Age']]
gender = df[['Survived','Sex']]
fare.head()
gender.head()

In [ ]:
fare_100 = df[df['Fare'] > 100]
first_class = df[df['Pclass'] ==1]
under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female') ]
c_or_s = df[(df['Embarked'] == 'C') | (df['Embarked'] == 'S')]
first_second_class = df[(df['Pclass'].isin([1,2]))]
fare_100.head()
first_class.head()
under_18.head()
c_or_s.head()
first_second_class.head()

In [ ]:
median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)
far_per_year = df['Fare']/df['Age']
df['Fare_per_year'] = far_per_year
high_far_age = df[df['Fare_per_year'] > 5 ]
high_far_age_srt = high_far_age.sort_values(by=['Fare_per_year'],ascending = False)
result = high_far_age_srt[['Name','Fare_per_year']]
result.head()

In [ ]:
Far_per_class = df['Fare']/df['Pclass']
df['Fare_per_class'] = Far_per_class
adult_male = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]
adult_male_srt = adult_male.sort_values(by=['Fare_per_class'],ascending = False)
result = df[['Name','Age','Fare_per_class']]
result.head()

In [ ]:
total_Fare = df['Fare'].sum()
p_class_11 = df[df['Pclass'] == 1]
p_class_11_total = p_class_11['Fare'].sum()

p_class_22 =df[df['Pclass'] == 2]
p_class_33 =df[df['Pclass'] == 3]
p_class_22_total = p_class_22['Fare'].sum()
p_class_33_total = p_class_33['Fare'].sum()
fare_totals = [p_class_11_total,p_class_22_total,p_class_33_total]
fare_revenue= [p_class_11_total/total_Fare,p_class_22_total/total_Fare,p_class_33_total/total_Fare]
fare_revenue

In [ ]:
def cat_age(age):
  if age < 18:
    return "child"
  elif age < 65:
    return "adult"
  else:
    return "senior"
df['age_group'] = df['Age'].apply(cat_age)

In [ ]:
total_passengers = len(df)
no_of_passengers = df['age_group'].value_counts()
passenger_in_each = no_of_passengers/total_passengers
proportion = passenger_in_each * 100
proportion